
body {
    display: flex;
    flex-direction: column;
    border-color: #F5F5F5F5; 
    border-style: solid;
}

.Profiles {
    max-width: 400px;
}

.Box {
    display: flex;
}

.Infor_Mail {
    margin-right: 10%;
}

.passwords {
    width:100%;
    margin-bottom: 11px;
}

input[type = "password"] {
    margin-top: 4%;
    width: 100%;
}

input {
    border:  0;
    border-radius: 5%;
    padding: 4%;
    background-color: #F5F5F5F5;
}

input[type ="reset"]{
    margin-top:4%;
    margin-left: 50%;
    background-color: white ;
}

input[type ="submit"] {
    width: 30%;
    background-color: red;
    color: white;
}

.container {
    position: relative;
    left: 35%;

}
